* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
}
.link {
    cursor: pointer;
}
.link {
    color: black;
}
.link:visited {
    color: white;
}
.footer .link:hover {
    border-bottom: 2px solid black;
}

.body {
    background-color: wheat;
    max-width: 1350px;
    margin: auto;
}
.header {
    background-color: #8ab2e2;    
    padding: 2em;
}
.header__visible {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}
@media (max-width:350px) {
    .header__visible * {
        width: 90%;
    }
    .header__visible__probtn__btn {
        height: min-content;
        margin: auto 0;
    }
    * {
        overflow-x: hidden;
    }
}
.header__visible__probtn {
    display: flex;
    gap: 0.5em;
}
.header__invisible__form {
    display: flex;
    justify-content: center;
    padding: 1em;
}
.header__visible1--none{
    display: none;
}
.header__visible__probtn__btn, 
.header__invisible_form__btn {
    background-color: #8ab2e2;
}
@media (min-width: 750px) { 
    .header__visible {
        align-items: stretch;
    }
    
    .header__visible__probtn__btn {
        display: none;
    }
    .header__visible__probtn {
        display: flex;
        align-items: center;
    }
    .header__visible1--none{
        display: block;
    }
    .header__invisible__form{
        display: none;
    }
   
}
.display-none {
    display: none;
}
.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 2em auto;
    gap: 2em;
    align-items: center;
}
.profile-txt {
    text-align: left;
    padding: 0.5em;
    border: 1px solid black;
    margin: 1em 1em 0;
    font-size: 1em;
    background-color: #777;

}
.profile-txt1 {
    text-align: left;
    padding: 0.5em 1em;
    border: 1px solid black;
    background-color: #ccc;


}
.profile-con {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid black;
    padding-bottom: 1em;
    background-color: #ccc;
}

.profile {
    display: flex;
    margin: 1em;
}
.table th,
.table td{
    padding: 0.5em 1em;
    border: 1px solid #ddd;
}
.table tr:nth-child(even){
    background-color: #f2f2f2;
}
.table tr:nth-child(odd){
    background-color: #ccc;
}

.table tr:hover {
    background-color: #ddd;}
.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #666;
    color: white;
    }





@media (max-width:700px) {
    .profile-con,
    .profile,
    .profile-txt {
        width: 80%;
    }
    .profile-txt {
        margin: 0;
        width: 90%;
        margin: auto;
        margin-top: 1em;

    }
}
@media (min-width:800px) {
    .profile-con,
    .statistics-con {
        width: 50%;
        border: 1px solid gray;
    }
    .profile-con,
    .profile,
    .profile-txt {
        width: 40%;
    }
    .profile-txt {
        margin: 0;
        width: 90%;
        margin: auto;
        margin-top: 1em;
    }
    .table {
        width: 100%;
    }
}































.footer {
    margin: auto;  
    padding: 2em;
    background-color: #8ab2e2;
    margin: auto;
}
.footer-nav:hover,
.footer-nav:focus,
.footer__grid-item--partners__partner:hover,
.footer__grid-item--partners__partner:focus {
    background-color: #8ab2e2;
    border-bottom: 3px solid black;
}
.footer__grid-item--follow__social:hover,
.footer__grid-item--follow__social:focus {
    background-color: black;
}
.footer__grid-item--partners {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "header header";
}
.footer__grid-item--follow__social {
    padding: 3px;
}
.footer__grid-item {
    padding: 1em;
}
.footer__grid-item--partners__header {
    padding-top: 0;
    grid-area: header;
}

@media screen and (orientation: landscape) and (min-width:768px) {
  
    
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .footer__grid-item--follow {
        display: grid;
        grid-template-columns: 50px 50px 50px;
        grid-template-rows: 50px 50px 50px;
    }
    .footer__grid-item--follow__h {
        grid-column: 1/-1;
        grid-row: 1/2;
    }
   
}
